@charset "UTF-8";
.right-box{
    position:relative;
    display: inline-block;
    margin: auto;
    margin-top: 5%;
    width: fit-content;
    border-radius: 15px;
    border-style: solid;
    border-color: slateblue;
    text-align: center;
    border-width: 2px;
    
}

.login-text{
    margin: 20px 0;
    color: slateblue;
    font-weight: bold;
    font-size:xx-large;
    font-family: cursive;
    font-weight: bold;

}

input {
    display: block;
    width: 400px;
    background-color: #ffffff;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    padding: 15px 20px;
    color: gray;
    margin: 15px 20px;
}

button {
    background-color: slateblue;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    width: 400px;
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error{
    color: red;
    font-family: cursive;
}

.register-account{
    margin-bottom: 15px;
    text-decoration-line: none;
    
}

.register-account a{
    text-decoration-line: none;
    color: skyblue;
    
}