<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:insert="Header.html"></div>
	<div class="container">
	<div class="row">
		<form action="/contact" method="post">
	
		<div class="col-4">
		To Email
		</div>
		<div class="col-6 m-2">
		<input type="text" name="toEmail" class="form-control">
		</div>
		
		<div class="col-4">
		Subject
		</div>
		<div class="col-6 m-2">
		<input type="text" name="subject" class="form-control">
		</div>
		
		<div class="col-4">
		Message
		</div>
		<div class="col-6 m-2">
		<textarea cols="75" rows="10" name="message"> </textarea>
		</div>

		<div class="col-4">
		</div>
		<div class="col-8">
		<input type="submit" value="Send" class="btn btn-success">
		</div>
		
		</form>
		
	
	</div>
	</div>

</body>
</html>